@font-face {
  font-family: 'National 2';
  src: url('../fonts/National2Web-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'National 2';
  src: url('../fonts/National2Web-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
  
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}  

:root {
  --colour-light: #F0F0F0;
  --colour-dark: #081A32;
  --colour-highlight: #57F1B2;
  --size-a: 1rem; /* 16px */
  --size-b: 1.5rem; /* 24px */
  --size-c: 2.25rem; /* 36px */
  --size-d: 3.375rem; /* 54px */
  --size-e: 5.063rem; /* 81px */
  --size-f: 7.594rem; /* 121px */
}

html {
  font-size: 100%;
}

body {
  font-weight: 400;
  line-height: 1.5;
  font-family:'National 2', Tahoma, sans-serif;
  color: var(--colour-dark);
  background-color: var(--colour-light);
  position:relative;
  padding-top: 100vh;
  font-size: var(--size-a);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #0B2B55, #081A32, #0A0B2B, #0E1C30);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
  z-index:1;
  padding: 0 var(--size-c);
}

header h1 {
  color: var(--colour-highlight);
  max-width:650px;
}

header nav {
  position:absolute;
  top:0;
  bottom:auto;
  background-color: transparent;
}

header a {
  color: var(--colour-highlight);
}

header path, header polygon {
  fill: var(--colour-highlight);
}

nav {
  position:fixed;
  top:0;
  right:0;
  left:0;
  padding: var(--size-b) var(--size-c);
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:0;
  background-color: var(--colour-highlight);
}

nav a:hover {
  color: var(--colour-light);
}

main, footer {
  margin:0 auto;
  padding: var(--size-b) var(--size-c);
  max-width:650px;
}

main {
  z-index:0;
}

article {
  margin-bottom: var(--size-c);
}

h1, h2 {
  line-height: 1.35;
}

h1 {
  font-size: var(--size-d);
}

h2 {
  font-size: var(--size-b);
  margin-bottom: var(--size-b);
}

h3 {
  font-size: var(--size-a);
}

p, small {
  margin-bottom: var(--size-a);
}

article a {
  background: linear-gradient(to bottom, var(--colour-highlight) 0%, var(--colour-highlight) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 4px;
  text-decoration: none;
}

article a, article a:hover, article a:focus {
  transition: background-size 0.5s ease;
}

article a:hover, article a:focus {
  background-size: 1px 100%;
}

a {
  color: var(--colour-dark);
}

a, a:hover {
  transition: color 0.5s ease;
}

a:hover path, a:hover polygon {
  fill:var(--colour-light);
}

svg {
  height:var(--size-b);
}

path, a:hover path,
polygon, a:hover polygon {
  transition:fill ease 300ms;
}

path, polygon {
  fill:var(--colour-dark);
}

::-moz-selection {
  background: var(--colour-dark);
  color: var(--colour-light);
  text-shadow: none;
}

::selection {
  background: var(--colour-dark);
  color: var(--colour-light);
  text-shadow: none;
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: var(--size-b);
  }
  header nav {
    bottom:0;
    top:auto;
  }
  h1 {
    font-size: var(--size-e);
  }
  h2 {
    font-size: var(--size-c);
  }
  h3 {
    font-size: var(--size-b);
  }
  svg {
    height: var(--size-c);
  }
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}